img,
embed,
object,
video {
    max-width: 100%;
}

  
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px; /* Mellanrum mellan bilder */
    padding: 16px;
}

.gallery a {
    display: block;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) { /* Desktop-läge */
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }