@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
  line-height: 1,4;
  font-family: 'Sour Gummy', sans-serif;
}

p {
  font-size: 1.4m;
  margin-bottom: 1.96rem;
}
